<a href="https://colab.research.google.com/github/weiyunna/Deep-Learning-with-Tensorflow/blob/master/First_Steps_With_Tensorflow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#First Steps with TensorFlow

Learning Objectives:



*   Learn fundamental TensorFlow concepts
*   Use the LinearRegressor class in TensorFlow to predict median housing price, at the granularity of city blocks, based on one input feature
*   Evaluate the accuracy of a model's predictions using Root Mean Squared Error (RMSE)
*  Improve the accuracy of a model by tuning its hyperparameters

The data is based on 1990 census data from California.

## Setup
In this first cell, we'll load the necessary libraries.

In [0]:
from __future__ import print_function

import math

from IPython import display
from matplotlib import cm
from matplotlib import gridspec
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
from sklearn import metrics
import tensorflow as tf
from tensorflow.python.data import Dataset

tf.logging.set_verbosity(tf.logging.ERROR)
pd.options.display.max_rows = 10
pd.options.display.float_format = '{:.1f}'.format

Next, we'll load our data set.

In [0]:
california_housing_dataframe = pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv", sep=",")

We'll randomize the data, just to be sure not to get any pathological ordering effects that might harm the performance of Stochastic Gradient Descent. Additionally, we'll scale median_house_value to be in units of thousands, so it can be learned a little more easily with learning rates in a range that we usually use.

In [3]:
california_housing_dataframe = california_housing_dataframe.reindex(
    np.random.permutation(california_housing_dataframe.index))
california_housing_dataframe["median_house_value"] /= 1000.0
california_housing_dataframe

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
16296,-122.5,37.6,33.0,3507.0,669.0,1697.0,660.0,4.1,270.6
15375,-122.3,37.6,34.0,1693.0,281.0,846.0,291.0,5.4,339.4
4609,-118.1,33.9,37.0,1161.0,254.0,882.0,236.0,4.4,158.0
3621,-117.9,34.1,24.0,2838.0,695.0,2151.0,645.0,3.2,126.2
5089,-118.1,33.9,36.0,2053.0,386.0,1023.0,394.0,3.0,216.6
...,...,...,...,...,...,...,...,...,...
10404,-120.2,39.7,52.0,296.0,63.0,143.0,56.0,3.6,68.6
11683,-121.3,38.6,25.0,2707.0,464.0,1423.0,490.0,4.3,116.9
14821,-122.2,37.8,52.0,1056.0,224.0,792.0,245.0,2.7,142.6
10904,-120.8,35.3,23.0,3100.0,603.0,1515.0,609.0,2.8,196.1
2734,-117.7,33.5,9.0,3856.0,571.0,1646.0,576.0,6.8,318.3