<a href="https://colab.research.google.com/github/weiyunna/Deep-Learning-with-Tensorflow/blob/master/multi_class_classification_of_handwritten_digits.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Classifying Handwritten Digits with Neural Networks

**Learning Objectives:**

* Train both a linear model and a neural network to classify handwritten digits from the classic MNIST data set
* Compare the performance of the linear and neural network classification models
* Visualize the weights of a neural-network hidden layer

Our goal is to map each input image to the correct numeric digit. We will create a NN with a few hidden layers and a Softmax layer at the top to select the winning class.

## Set up

First, let's download the data set, import TensorFlow and other utilities, and load the data into a pandas DataFrame. Note that this data is a sample of the original MNIST training data; we've taken 20000 rows at random.

In [1]:
from __future__ import print_function

import glob
import math
import os

from IPython import display
from matplotlib import cm
from matplotlib import gridspec
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn import metrics
import tensorflow as tf
from tensorflow.python.data import Dataset

tf.logging.set_verbosity(tf.logging.ERROR)
pd.options.display.max_rows = 10
pd.options.display.float_format = '{:.1f}'.format

mnist_dataframe = pd.read_csv(
  "https://download.mlcc.google.com/mledu-datasets/mnist_train_small.csv",
  sep=",",
  header=None)

# Use just the first 10,000 records for training/validation.
mnist_dataframe = mnist_dataframe.head(10000)

mnist_dataframe = mnist_dataframe.reindex(np.random.permutation(mnist_dataframe.index))
mnist_dataframe.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
9128,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5504,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
422,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4770,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1403,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0